:root {
  --mainColor: #00cdcd;
  --darkColor: #00b3b3;
  --darkerColor:  #037777;
  --lightColor: rgb(253, 253, 253);

  --grisClaro: #f8f8f8;
  --grisMedio: #929292;
  --grisOscuro: #474747;
  --grisNegro:  #272727;
}
html{
  scroll-behavior: smooth;
}

body {
  background: var(--lightColor);
}

/* //////////////// BOTONES //////////////// */

.btn-mainColor{
  background-color: var(--darkColor);
  color: white;
}

.btn-mainColor:hover{
  background-color:var(--darkerColor);
  color: white;
}

/* //////////////// SECCION GENERICA //////////////// */

.section {
  padding: 6em 0;
}

.section:nth-child(even){
  background: var(--grisClaro);
}

.section-header{
  text-align: center;
}

.section-title {
  text-transform: uppercase;
  color: var(--grisOscuro);
}



/*--------------------------------------------------------------------------
    HEADER
----------------------------------------------------------------------------*/

.main-header{
/*   position: absolute;
  left: 0;
  right: 0;
  top: 0; */
  z-index: 100;
  transition: .3s;
}

.scroll-sticky{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: var(--darkerColor);
}

#header img {
  width: 5em;
}

.navbar-collapse {
  transition: .3s;
}

.nav-link:hover, .nav-link:focus, .nav-link.active {
  color: var(--mainColor) !important;
}

/*--------------------------------------------------------------------------
  HERO
----------------------------------------------------------------------------*/


#main {
  max-height: 800px;
  overflow: hidden;
  position: relative;
  height: fit-content;
  background-image: url(../images/image2.jpg);
  background-size: cover;
}

/* #main .videoHTML {
width: 100%;
height: auto;
} */

.videoHTML-item {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 2;
}

.overlay .container, .overlay .row {
  height: 100%;
}


.main-title {
  color: var(--mainColor);
  font-weight: 300;
}

/*--------------------------------------------------------------------------
  LA MARCA
----------------------------------------------------------------------------*/

.flexible-video{
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  background: url(../images/image1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  
}
.youtube-video {
  width: 100%;
  height:100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/*--------------------------------------------------------------------------
  VISITANOS
----------------------------------------------------------------------------*/



#visitanos  {
 background: #343a40;
 color: white;
}

.titulo-instalaciones{
  color: var(--mainColor);
  font-weight: 300; 
}

/*--------------------------------------------------------------------------
  FOOTER
----------------------------------------------------------------------------*/


.footer-item{
  margin: 10px 0;
}


#footer a {
  color:rgba(255, 255, 255, .5);
}


#footer a:hover, #footer a:focus, #footer a.active {
  text-decoration: none;
  color: var(--mainColor);
}

